.navbar {
  background-color: rgb(32, 37, 52);
}
.nav-top {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
}

.texto {
  width: 400px;
}

.texto h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}
.texto p {
  color: white;
}

.texto-inside {
  font-size: 18px;
  width: 300px;
}

/* Pendiente */
.awesome {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 5%;
  padding: 10px 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

.features {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: stretch;
}

.componente {
  width: 15%;
}

.encabezado {
  font-size: 1 rem;
  font-weight: bold;
  text-align: left;
}

.explicacion {
  font-size: 0.7 rem;
  text-align: left;
  color: gray;
}
